
/* Custom active link styling */
.nav-item.active .nav-link {
  background-color: #ebf0ec !important; /* Change to your preferred color */
  color: rgb(20, 3, 3) !important; /* Text color */
  border-radius: 5px; /* Optional rounded corners */
}

.navbar-dark .navbar-nav .nav-link {
  font-family: Georgia;
  color: rgba(255,255,255,.5);
  font-size: 20px;
  // display: block;
  margin: 0 auto !important;
}
.navbar-dark .navbar-nav .nav-link  {
    font-size: 14px;  /* Smaller font size */
    width: 80px;      /* Adjust width for smaller screens */
    margin: 8px 0 0 -20px;    /* Adjust margin for better spacing */
    text-align: center;
}

button.navbar-toggler {
  border: none;
  
}

@media(max-width:320px){
  .img01 {
   width: 120px;
   margin: 0px 128px 0 -38px;
}
.navbar-dark .navbar-nav .nav-link {
  font-size: 14px;
  width: 80px;
  margin: 8px 0 0 -20px;
  text-align: center;
  margin: 12px -22px !important;
}


}

/* Responsive for devices with width 320px and below */
@media (min-width: 375px) and (max-width:768px){

  .img01 {
    width: 120px;
    margin: 0px 195px 0 -152px;
}

.navbar-dark .navbar-nav .nav-link {
  font-size: 14px;
  width: 80px;
  margin: 8px 0 0 -20px;
  text-align: center;
  margin: 12px -22px !important;
}

.mat-chip-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 9px 2px !important;
}

}
  

// .close-icon {
//   font-size: 2rem;
//   line-height: 1;
//   color: #f5eeee;
// }


i.fas.fa-times.fa-lg.text-white {
  margin: 0 10px;
}