<!-- <h1 class="title">Mobile Gallery</h1> -->
<!-- Navbar content -->
<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">MyShop</a>
  
    <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': !isNavbarCollapsed }" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
    </div>
  </nav>
   -->

  

   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <!-- Toggler for mobile view -->
       <!-- <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
           <span class="navbar-toggler-icon"></span>
        </button> -->

        <!-- <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
          <span *ngIf="isNavbarCollapsed" class="navbar-toggler-icon"></span>
          <span *ngIf="!isNavbarCollapsed" class="close-icon">&times;</span>
        </button> -->


        <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed">
          <i *ngIf="isNavbarCollapsed" class="navbar-toggler-icon"></i>
          <i *ngIf="!isNavbarCollapsed" class="fas fa-times fa-lg text-white"></i> <!-- Close icon -->
        </button>
        
        
        
        <img class="img01" src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/fkheaderlogo_exploreplus-44005d.svg" width="160" height="40" title="Flipkart">   
  
  
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': !isNavbarCollapsed }" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li 
          class="nav-item mx-3" 
          [ngClass]="{ 'active': activeItem === 'home' }" 
          (click)="setActive('home')">
          <a class="nav-link mt-5" href="#">Home</a>
        </li>
        <li 
          class="nav-item mx-3" 
          [ngClass]="{ 'active': activeItem === 'gallery' }" 
          (click)="setActive('gallery')">
          <a class="nav-link" href="#">Gallery</a>
        </li>
        <li 
          class="nav-item mx-3" 
          [ngClass]="{ 'active': activeItem === 'contact' }" 
          (click)="setActive('contact')">
          <a class="nav-link" href="#">Contact</a>
        </li>
        <li 
          class="nav-item mx-3" 
          [ngClass]="{ 'active': activeItem === 'about' }" 
          (click)="setActive('about')">
          <a class="nav-link" href="#">About Us</a>
        </li>
      </ul>
    </div>
  </nav>




  
  <!-- <form class="form-inline ml-4">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form> -->

<div class="container">
<div class="row">
<div class="col-12">
<app-main-task></app-main-task>


</div>
</div>
</div>



  
  

